.mark-btn {
    width: 50px;
}
.mark-btn.x-field .x-field-input {
    min-width: 0;
}
.mark-btn .x-input-el:checked + .x-field-mask::after {
    color: #039904;
}
.task-list-item {
    background-color: white;
    border-bottom: 1px solid rgb(240, 250, 255);
}
.x-container .x-data-item-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.delete-btn {
  display: inline-block;
  float: right;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-right: 0.2em;
  overflow: visible;
  border: 1px solid #FFEAE5;
  border-radius: 20px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url('../icons/delete.png');
}
.delete-btn:active,
.delete-btn.button-pressing,
.delete-btn.button-pressing::after {
    background-color: #FFEAE5;
}

.done::after {
  font-family: "Pictos";
  content: "3";
  display: inline-block;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
}
.active-tasks-lbl {
  padding: 5px;
  font-size: 0.7em;
}

.x-toolbar .x-button.header-round-btn {
  border-radius: 15px;
  width: 32px;
  height: 30px;
  padding: 0;
}
.x-toolbar .x-button.footer-btn {
  height: 30px;
}